#edit_person
  = form_tag person_path(@person), :method => :put do
    .leftform
      .input_field
      .input_field
        = label :person, :first_name, 'First Name'
        &nbsp;&nbsp;
      .input_field
        = label :person, :last_name, 'Last Name'
        &nbsp;&nbsp;
      .input_field
        = label :person, :email, 'Email'
        &nbsp;&nbsp;
      .input_field
        = label :person, :phone_number, 'Phone'
        &nbsp;&nbsp;
      .input_field
        = label :person, :room_number, 'Room #'
        &nbsp;&nbsp;
      .input_field
        = label :person, :building, 'Building'
        &nbsp;&nbsp;
      .input_field
        = label :person, :hr_dept_name, 'Organization'
        &nbsp;&nbsp;
      .input_field
        = label :person, :job_title, 'Job Title'
        &nbsp;&nbsp;
      .input_field
        = label :person, :progress, 'Progress'
        &nbsp;&nbsp;
      .input_field
        = label :person, :favorite, 'Favorite'
        &nbsp;&nbsp;


    .rightform
      .input_field
        .small_link#delete= link_to 'Delete Person', person_path(@person), :method => :delete, :confirm => 'Are you sure?'
      .input_field
        = text_field :person, 'first_name'
      .input_field
        = text_field :person, 'last_name'
      .input_field
        = text_field :person, 'email'
      .input_field
        = text_field :person, 'phone_number'
      .input_field
        = text_field :person, 'room_number'
      .input_field
        = text_field :person, 'building'
      .input_field
        = text_field :person, 'hr_dept_name'
      .input_field
        = text_field :person, 'job_title'
      .input_field
        = select :person, 'progress', [['None', '0'], ['Aware', '1'], ['Interested', '2'], ['Trying', '3'], ['Adopted', '4']]
      .input_field
        = check_box :person, 'favorite' 
      .input_field
        = submit_tag 'Update'

