#add_person.main#default
  = form_tag people_path do
    #leftform
      = label :person, :name, 'Name'
      &nbsp;&nbsp;
      %br/
      %br/
      = label :person, :progress, 'Progress'
      &nbsp;&nbsp;
    #rightform
      = text_field :person, 'name'
      %br/
      %br/
      = text_field :person, 'progress'
      %br/
      %br/
      = submit_tag 'Add'
