/ %table.list_table
%table.table
  %thead
    %tr
      %th Group Name
  %tbody
    - @groups.each do |group|
      %tr
        %td 
          #accordion2.accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", href: "#collapse#{group.id}"}
                  =group.name
              .accordion-body.collapse{:id => "collapse#{group.id}"}
                .accordion-inner
                  %p Description:  
                  =group.description
                  %ul
                  -group.people.each do |person|
                    %li= person.full_name
                  = form_tag groups_path do
                    = label :group, :person, "Add a Person to #{group.name}: "
                    = hidden_field_tag 'id', group.id
                    =collection_select(:person, :person_id, Person.all(:order => 'last_name ASC'), :id, :last_first, :prompt => true)
                    =submit_tag "Add Person"

%br/
%br/
%br/



%fieldset
%legend Add a Group

= form_tag groups_path do
  = label :group, :name, 'Name'
  = text_field :group, 'name'
  %br/
  = label :group, :description, "Description"
  = text_field :group, 'description'
  %br/
  = submit_tag 'Add Group'   
