%h1 Events

%table#events
  %thead
    %tr
      %th{:class => @name_header}=sortable("name")
      %th Description
      %th Location
      %th{:class => @date_header}=sortable("date") 
    %tbody
      -@events.each do |event|
        %tr
          %td= link_to "#{event.name}", event_path(event)
          %td= event.description
          %td= event.where
          %td= event.event_time

= link_to 'Add New Event',  new_event_path
