- if user_signed_in?
  = link_to refresh_path, :method => :get do 
    #refresh_button
      #{image_tag('refresh_blue.png', :class => 'medium_icon')}


%table.list_table
  %thead
    %tr
      %th{:class => @name_header}=sortable("name")
      %th.description Description
      %th Location
      %th{:class => @date_header}=sortable("event_time", 'Date') 
    %tbody
      -@events.each do |event|
        - if user_signed_in?
          -if event.uid == current_user.uid
            %tr
              %td= link_to "#{event.name}", event_path(event)
              %td= event.description
              %td= event.where
              %td= event.event_time
