%h1 Events

%table#events
  %thead
    %tr
      %th Name
      %th Description
      %th Location
      %th Date 
    %tbody
      -@events.each do |event|
        %tr
          %td= link_to "#{event.name}", event_path(event)
          %td= event.description
          %td= event.where
          %td= event.event_time

=# link_to 'Back to People Page', people_path
= link_to 'Add New Event',  new_event_path
= debug(session)
= debug(User.all)
