%h1 Add an Event

= form_tag events_path do
  = label :event, :name, 'Event Name' 
  = text_field :event, 'name' 
  %br
  = label :event, :description, 'Description' \
  = text_field :event, 'description'
  %br
  = label :event, :where, 'Location' \
  = text_field :event, 'where'
  %br
  = label :event, :event_time, 'Event Date' \
  = datetime_select :event, :event_time
  %br
  = submit_tag 'Add Event'