#add_event.main#default
  = form_tag events_path do
    .leftform
      = label :event, :name, 'Name'
      &nbsp;&nbsp;
      %br/
      %br/
      = label :event, :description, 'Description'
      &nbsp;&nbsp;
      %br/
      %br/
      = label :event, :where, 'Location'
      &nbsp;&nbsp;
      %br/
      %br/
      = label :event, :event_time, 'Date'
    .rightform
      = text_field :event, 'name'
      %br/
      %br/
      = text_field :event, 'description'
      %br/
      %br/
      = text_field :event, 'where'
      %br/
      %br/
      = text_field :event, 'event_time'
      %br/
      %br/
      = submit_tag 'Add'
