- if flash[:notice]
  #notice.message= flash[:notice]
- elsif flash[:warning]
  #notice.message= flash[:warning]


%div{:id => [@event.name]}
  .info
    .small_link#edit= link_to 'Edit Info', edit_event_path(@event)
    Name:
    %span#field #{@event.name}
    %br/
    Location:&nbsp;
    %span#field #{@event.where}
    %br/
    Date:&nbsp;
    %span#field #{@event.event_time}
    %br/
    Description:&nbsp;
    %span.description #{@event.description}
    %br/
-if @event.people != [] 
  .leftlist
    %h4 People Attending:
    .popup
      %ul
        -@event.people.each do |person|
          %li
            =link_to person.first_name + ' ' + person.last_name, person_path(person.id)
            %ul
              %li
                #{person.first_name + ' ' + person.last_name}
                %br/
                #{person.email}
                %br/

.rightlist
  %br/
  = form_tag "/events/add_person/#{@event.id}", :method => :get do
    = label :event, :person, "Add a Person to #{@event.name}: "
    = hidden_field_tag 'id', @event.id
    =collection_select(:person, :person_id, Person.all, :id, :full_name, :prompt => "Select Person", :id =>"select_person")
    =submit_tag "Add Person"

  = form_tag "/events/add_group/#{@event.id}", :method => :get do
    = label :event, :group, "Add a Group to #{@event.name}: "
    = hidden_field_tag 'id', @event.id
    =collection_select(:group, :group_id, Group.all, :id, :name, :prompt  => "Select Group")
    =submit_tag "Add Group"
