#nav_container
  #header
    %a{href: "/"} Project&nbsp;Steak
  %nav#navbar
    %ul
      %li#People
        = link_to 'People', people_path()
        %ul
          %li
            = link_to "Add Person", new_person_path
          %li
            = link_to 'Find LinkedIn Connections', linkedin_signin_path
      %li#Initiatives
        %a{href: "#"} Initiatives
        %ul
          %li
            %a{href: "#"} All
          %li
            %a{href: "#"} Completed
          %li
            %a{href: "#"} Imcomplete
      %li#Events
        = link_to 'Events', events_path()
        %ul
          %li
            = link_to "Add Event", new_event_path
      %li#log_button
        - if user_signed_in?
          =link_to "#{current_user.name}", signout_path, :id => 'curr_user'
          =link_to "Sign Out", signout_path, :id => 'sign_out'
        - else
          =link_to "Sign In", signin_path
