!!! 5
%html
  %head
    %title Project Steak
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag "/favicon.ico"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %a{name: "display"} 
    =render :partial => '/layouts/navbar'
    =render :partial => "/layouts/sidebar"
    #body
      = yield
<<<<<<< HEAD
=======
      - if user_signed_in?
        Greetings #{current_user.name}
        [#{link_to "sign out", signout_path}]
        -#%ul
        -#  - @calendars.items.each do |calendar|
        -#    %li= calendar["summary"]
      - else
        [#{link_to "sign in", signin_path}]
>>>>>>> acf78c2e4734a05faeabbd6ec8641254aeaf0e35
    =render :partial => '/layouts/footer'
