!!! 5
%html
  %head
    %title Project Steak
    = stylesheet_link_tag    "stylesheet", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %a{name: "display"}
    #nav_container
      #header
        Project&nbsp;Steak
      %nav#navbar
        %ul
          %li
            %a{href: "#"} People
            %ul
              %li
                %a{href: "#", onclick: "showOne('main', 'add_person')"} Add Person
          %li
            %a{href: "#"} Initiatives
            %ul
              %li
                %a{href: "#"} All
              %li
                %a{href: "#"} Completed
              %li
                %a{href: "#"} Imcomplete
          %li
            %a{href: "#"} Events
            %ul
              %li
                %a{href: "#"} Calendar
              %li
                %a{href: "#"} Add Event
          %li
            %a{href: "#"} Logout

    %div#sidebar
      %ul
        %li
          %a{href: "#", onclick: "showOne('main', 'add_person')"} Add Person
        -@people.each do |person|
          %li
            %a{href: "#display", onclick: "showOne('main', '#{person.name.gsub(/\s+/, "")}')"} 
              #{person.name}
              %br/
              .mini_progress
                =render :partial => "progress#{person.progress}"
    %div#body
      = yield
      #add_person.main
        = form_tag people_path do
          #leftform
            = label :person, :name, 'Name'
            &nbsp;&nbsp;
            %br/
            %br/
            = label :person, :progress, 'Progress'
            &nbsp;&nbsp;
          #rightform
            = text_field :person, 'name'
            %br/
            %br/
            = text_field :person, 'progress'
            %br/
            %br/
            = submit_tag 'Add'
      -@people.each do |person|
        %div{:id => [person.name.gsub(/\s+/, "")], :class => 'main'}
          .info
            %a.edit{href: "#edit"} Edit Info
            Name:
            %span#field #{person.name.gsub(/\s+/, " ")}
            %br/
            Organization:&nbsp;
            %span#field [From Org Chart]
            %br/
            Position:&nbsp;
            %span#field [From LinkedIn / Org Chart]
            %br/
            Phone:&nbsp;
            %span#field 510-555-5555
            %br/
            Email:&nbsp;
            %span#field abc@email.com
            %br/
            Progress:&nbsp;
            %span#field #{person.progress}
            / populate the progress bars with an iterator
            %span#field
              .progress
                =render :partial => "progress_lg_#{person.progress}"
            / Populate initiatives with iterator
          .popup
            %ul
              %li
                %a{href: "#event_name"} Event 1
                %ul
                  %li
                    Popup
                    %br/
                    [Event Info Here]
                    %br/
            / Populate annotations with iterator
          .popup
            %ul
              %li
                %a{href: "#event_name"} Note 1
                %ul
                  %li
                    Popup
                    %br/
                    [Annotation here]
                    %br/
              %li
                %a{href: "#add_note"} Add Note
    #footer
      Project Steak - Developed for CS169  
