!!! 5
%html
  %head
    %title Project Steak
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %a{name: "display"} 
    #nav_container
      #header
        %a{href: "/"} Project&nbsp;Steak
      %nav#navbar
        %ul
          %li
            = link_to 'People', people_path()
            %ul
              %li
                = link_to "Add&nbsp;Person".html_safe, new_person_path
          %li
            %a{href: "#"} Initiatives
            %ul
              %li
                %a{href: "#"} All
              %li
                %a{href: "#"} Completed
              %li
                %a{href: "#"} Imcomplete
          %li
            = link_to 'Events', events_path()
            %ul
              %li
                = link_to 'Events', events_path()
              %li
                = link_to "Add&nbsp;Event".html_safe, new_event_path
          %li
            %a{href: "#"} Logout

    %div#sidebar
      %ul
        -@favorites.each do |person|
          %li
            =link_to person_path(person.id) do
              #{person.first_name+" "+person.last_name}
              .mini_progress
                -title = "progress#{person.progress}"
                =render :partial => "/main/#{title}"
    %div#body
      = yield

    #footer
      Project Steak - Developed for CS169  
